<!-- # WAP TO  INPUT TWO NO AND SUM USING PROMPT  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS</title>
    <script>
        var a=parseInt(prompt("Enter First Number","First Number"))
        var b=parseInt(prompt("Enter Second Number","Second Number"))
        var c=a+b
        alert('Sum='+c)
    </script>

</head>
<body>   
</body>
</html>