<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO</title>
    <link rel="stylesheet" type="text" href="{% static 'sms/css/style.css' %}">
    <script src="{% static 'sms/js/demo.js' %}"></script>
</head>
<body>
    <h1>**EXAMPLES OF STATIC FILES**</h1>
    <p>Hello External CSS</p>
    <!-- <img src="{% static 'sms/images/boss.jpg' %}" alt="boss image"> -->
    
</body>
</html>