<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS</title>
    <script>
        function iteration(){
            var a;
            a=document.getElementById("t1").value 
            for(i=1;i<=a;i++)
            {
                document.write("<br>"+"<h1>"+'Welcome to JS - '+i+"</h1>")
            }
        }
    </script>
</head>
<body>
    Enter a Number :
    <input type="text" id="t1">
    <button onclick="iteration()">CHECK</button>
</body>
</html>